<div class="option-container card" [ngClass]="{hideElement: showOptionsBlock}">
  <div class="card-content my-card-content">
    <div class="search1 options-item">
      <div class="form-group">
        <label for="exampleFormControlInput1">Search</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Font name" [disabled]="inputSearchTwo !== ''" [(ngModel)]="inputSearchOne" (input)="searchMethod()">
      </div>
    </div>

    <div class="sorting options-item">
      <label>Sorting</label>
      <select class="browser-default" (change)="selectItem()" [(ngModel)]="sortType">
          <option value="">Alphabetical</option>
          <option value="date">Date Added</option>
          <option value="popularity">Popular</option>
          <option value="style">Style</option>
          <option value="trending">Trending</option>
        </select>
    </div>

    <div class="search2 options-item">
      <div class="form-group">
        <label for="exampleFormControlInput2">Search the font</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Font name"
               [disabled]="inputSearchOne !== ''" [(ngModel)]="inputSearchTwo" (input)="searchTheFont()" (click)="$event.stopPropagation()">
        <div class="collection data-list" *ngIf="showDataList">
              <a href="#!" class="collection-item" *ngFor="let item of searchList" (click)="goToFont(item, $event)">{{ item }}</a>
        </div>
        <span class="search-not-found" *ngIf="twoSearchError">Not found</span>
      </div>
    </div>

    <div class="size-slider">
      <label>Font size</label>
      <div class="range-field my-range-field">
        <input type="range" id="range" min="16" max="60" value="0" (mouseup)="sliderClickMove($event)" />
      </div>
    </div>

    <div class="clear-filters options-item">
      <button type="button" class="btn btn-danger red clear-btn" (click)="clearFilters()">Clear Filters</button>
    </div>
  </div>
</div>