<ul class="collection with-header collection-history" [ngClass]="{hideElement: showHistoryBlock}">
  <li class="collection-header history-collection-header"><h6>History fonts</h6></li>
  <li class="collection-item" *ngFor="let historyItem of historyFontsName">
    <div [ngStyle]="{'font-family': historyItem}">{{ historyItem }}
      <a href="#!" class="secondary-content" (click)="goToPageHistory(historyItem)">
      <i class="material-icons">send</i>
      </a>
    </div>
  </li>
</ul>