<div class="font-page">
  <div class="font-cont card hoverable" [ngClass]="{'active-font': fontFamilyActive === font.family}" id='font-cont-{{ i }}'
                                        *ngFor="let font of showFontsName; let i = index"
                                        (click)="viewFont(font.family, i)">
      <div class="font-cont__family card">
      <a href="#!" class="family-link">{{ font.family }}</a>
      <a class="btn-floating waves-effect waves-light font-family-but"><i class="material-icons">check</i></a>
    </div>
    <div class="font-cont__text" [ngStyle]="{'font-family': font.family}">example of this font</div>
    <div class="font-variants" *ngIf="font.variants.length !== 1">
      <select class="custom-select" (change)="selectWeight(font.family, $event, i)">
        <option class="start-option" value="" disabled>select style</option>
        <option  *ngFor="let fontItem of font.variants" value="{{ fontItem }}">
          {{ fontItem }}
        </option>
      </select>
    </div>
  </div>
</div>

