<div *ngIf="!serverError">
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Google Fonts</a>
            </div>
        </nav>
    </header>

    <div class="content-container">
        <div class="fonts-container">
            <app-text></app-text>
            <div class="fonts-container-left">
                <app-font></app-font>
              <div class="card-panel red lighten-3 search-error" *ngIf="oneSearchError">
                <span class="white-text">
                  Not found!
                </span>
              </div>
            </div>
        </div>

        <div class="options-panel">
            <div class="options-button-container">
              <div class="option-mobile-button" (click)="showOption = !showOption">
                <i class="material-icons">tune</i>
              </div>
              <div class="history-mobile-button" (click)="showHistory = !showHistory">
                <i class="material-icons">history</i>
              </div>
            </div>
            <app-options [showOptionsBlock]="showOption"></app-options>
            <app-history [showHistoryBlock]="showHistory"></app-history>
        </div>
    </div>
    <app-pagination></app-pagination>

    <footer class="page-footer my-page-footer">
        <div class="footer-copyright my-footer-copyright">
            © 2018 - Avrora.Team
        </div>
    </footer>

</div>
<div class="card-panel red lighten-3 server-error" *ngIf="serverError">
   <span class="white-text">
      Server error!
   </span>
</div>

