  <ul class="pagination pagination-cont">
    <li class="waves-effect" [ngClass]="{'disabled': pageActive === 1}">
      <a href="#!" (click)="prev()"><i class="material-icons">chevron_left</i></a>
    </li>

    <li class="waves-effect" [ngClass]="{'active': pageActive === page}" *ngFor="let page of pages">
      <a href="#!" (click)="getPage(page)">{{ page }}</a>
    </li>

    <li class="waves-effect" [ngClass]="{'disabled': pageActive === maxLength}">
      <a href="#!" (click)="next()"><i class="material-icons">chevron_right</i></a>
    </li>
  </ul>
