<div class="text-example">
  <div class="card">
    <div class="card-stacked">
      <div class="card-content text-card-content">
        <div class="text-cont" [ngStyle]="{'font-family': fontFamily, 'font-size': fontSize, 'font-style': fontStyle, 'font-weight': fontWeight}" contenteditable>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Aliquam aperiam aspernatur consectetur dicta, dignissimos ea explicabo fugiat harum, impedit, iusto praesentium quas quos repellendus repudiandae ut.
          Expedita modi reprehenderit ut?
        </div>
        <a class="btn-floating btn-medium waves-effect waves-light red text-button-write" (click)="textFocus()"><i class="material-icons">mode_edit</i></a>
      </div>
      <div class="card-action">
        <div class="style-button">
          <button class="btn btn-info" [disabled]="setNormal" (click)="setNormalStyle()">Normal</button>
          <button class="btn btn-info" [disabled]="setItalic" (click)="setItalicStyle()">Italic</button>
          <button class="btn btn-info" [disabled]="boldDisabled" (click)="setWeightStyle()">Bold</button>
        </div>
      </div>
    </div>
  </div>
</div>
