header {
    margin-bottom: 20px;
}
nav {
    padding-left: 20px;
}
.content-container {
    padding: 0 20px;
    overflow: hidden;
}
.font-page {
    margin-top: 20px;
}
.font-cont {
    width: calc(25% - 20px);
    min-width: 200px;
    margin-right: 20px;
    float: left;
    background: #fff;
    margin-bottom: 20px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.font-cont__family {
    line-height: 33px;
    background: whitesmoke;
    margin-top: 0;
}
.font-cont__text {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-size: 18px;
    color: #020250;
    height: 118px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px !important;
}
.family-link {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #020250;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.custom-select {
    display: inline-block;
    padding: 0 5px;
    width: 100%;
    height: 34px;
    color: #020250;
    vertical-align: middle;
    background: #F5F5F5 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: auto auto;
    background-size: 8px 10px;
    border: 0;
}
select {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: auto auto;
    background-size: 8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.sorting select {
    border: 0;
    border-bottom: 1px solid #9e9e9e;
    margin-top: 4px;
}
.search2 {
    margin-top: 20px;
    position: relative;
}
.my-range-field {
    margin: 5px 0 15px;
}
.font-variants {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.data-list {
    max-height: 200px;
    overflow: auto;
    position: absolute;
    z-index: 1;
    width: 100%;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.clear-btn {
    width: 100%;
    border-radius: 0;
}
.form-control {
    border: 1px solid #020250;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #020250;
}
.custom-select-option {
    background-color: #fff;
    border: 1px solid #020250;
}
.pagination-cont {
    text-align: center;
    clear: both;
    margin: 20px 0 40px;
}
.text-example {
    font-size: 16px;
    position: relative;
    margin-right: 20px;
}
.text-card-content {
    display: flex;
    justify-content: space-between;
    max-height: 260px;
    overflow: auto;
    font-size: 18px;
}
.text-cont {
    width: 85%;
}
.text-button-write {
    align-self: center;
}
.pen-icon {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.style-button {
    margin-top: 5px;
}
.btn {
    font-size: 16px;
}
.fonts-container {
    float: left;
    width: calc(100% - 280px);
}
.options-panel {
    float: right;
    width: 280px;
}
.search-error {
    margin-right: 20px;
    clear: both;
}
.server-error {
    margin: 20px;
    text-align: center;
}
.server-error {
    text-align: center;
}
.option-mobile-button, .history-mobile-button {
    float: right;
    display: none;
    margin-left: 25px;
}
.fa.fa-cog {
    font-size: 32px;
}
.size-slider__caption {
    margin-bottom: 18px;
    font-weight: 700;
}
.size-slider-cont {
    position: relative;
    height: 30px;
}
.size-slider__line {
    width: 100%;
    height: 4px;
    background: #020250;
    cursor: pointer;
}
.size-slider__button {
    width: 20px;
    height: 20px;
    background: #46b8da;
    position: absolute;
    left: -8px;
    top: -8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.preloader-container {
    width: 100%;
    display: flex;
    height: 100vh;
}
.start-preloader-wrapper {
    margin: auto;
}
.my-page-footer {
    padding-top: 0;
}
.page-footer .my-footer-copyright {
    padding: 10px 20px;
}
.font-family-but {
    width: 20px;
    height: 20px;
    line-height: 20px;
    float: right;
    display: inline-block;
    margin: 6px 6px 0px 0;
}
.font-family-but i {
    line-height: 20px;
    font-size: 1.2rem;
}
.my-card-content {
    width: 100%;
}
.search-not-found {
    color: #ee6e73;
    margin-bottom: 11px;
    display: inline-block;
}
.collection-history {
    clear: both;
}
.collection.with-header .history-collection-header {
    background-color: whitesmoke;
}
.active-font {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 1200px) {
    .font-cont {
        width: calc(33.333% - 20px);
    }
}
@media only screen and (max-width: 980px) {
    .font-cont {
        width: calc(50% - 20px);
    }
}
@media only screen and (max-width: 760px) {
    .font-cont {
        width: 100%;
        margin-right: 0;
    }
    .fonts-container {
        float: none;
        width: 100%;
    }
    .options-panel {
        float: none;
        width: 100%;
        clear: both;
    }
    .content-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .text-example {
        margin-right: 0;
    }
    .option-container {
        margin-top: 20px;
        clear: both;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .options-item {
        flex-basis: 48%;
    }
    .option-mobile-button, .history-mobile-button {
        display: block;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .option-mobile-button i, .history-mobile-button i {
        font-size: 30px;
    }
    .search-error {
        margin-right: 0;
    }
    .clear-filters {
        padding-top: 24px;
    }
    .style-button {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .style-button .btn {
        margin-bottom: 5px;
    }
    .hideElement {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .pagination>li>a, .pagination>li>span {
        font-size: 14px;
        line-height: 32px;
    }
    nav .brand-logo {
        font-size: 1.8rem;
    }
}
